# ==========================================
# Servidor y API (Backend)
# ==========================================
fastapi
uvicorn
sqlalchemy
python-multipart
# ==========================================
# Autenticación JWT y Seguridad
# ==========================================
python-jose[cryptography]
passlib[bcrypt]
# ==========================================
# Inteligencia Artificial y Mapas
# ==========================================
google-generativeai
geopy
# ==========================================
# Utilidades y Variables de Entorno
# ==========================================
python-dotenv
