湡潮慴整ⵤ潤㵣〽〮㐮਍湡潮慴整ⵤ祴数㵳〽㜮〮਍湡楹㵯㐽ㄮ⸳ര戊牣灹㵴㐽〮ㄮ਍散瑲晩㵩㈽㈰⸶⸲㔲਍晣楦㴽⸲⸰ര挊慨獲瑥渭牯慭楬敺㵲㌽㐮㘮਍汣捩㵫㠽㌮ㄮ਍潣潬慲慭㴽⸰⸴ശ挊祲瑰杯慲桰㵹㐽⸸⸰ര搊獩牴㵯ㄽ㤮〮਍湤灳瑹潨㵮㈽㠮〮਍潤畣楴獬㴽⸰㈲㐮਍捥獤㵡〽ㄮ⸹ല攊慭汩瘭污摩瑡牯㴽⸲⸳ര昊獡慴楰㴽⸰㌱⸵ള昊汩瑥灹㵥ㄽ㈮〮਍敧杯慲桰捩楬㵢㈽ㄮ਍敧灯㵹㈽㐮ㄮ਍潧杯敬愭⵩敧敮慲楴敶慬杮慵敧㴽⸰⸶㔱਍潧杯敬愭楰挭牯㵥㈽㈮⸵ല朊潯汧ⵥ灡⵩祰桴湯挭楬湥㵴㈽ㄮ㌹〮਍潧杯敬愭瑵㵨㈽㐮⸹റ朊潯汧ⵥ畡桴栭瑴汰扩㴲〽㌮ㄮ਍潧杯敬札湥楡㴽⸲⸷ര朊潯汧ⵥ敧敮慲楴敶楡㴽⸰⸸ശ朊潯汧慥楰⵳潣浭湯瀭潲潴㵳ㄽ㜮⸳റ朊敲湥敬㵴㌽㌮㈮਍牧捰潩㴽⸱〸〮਍牧捰潩猭慴畴㵳ㄽ㜮⸱ല栊ㄱ㴽⸰㘱〮਍瑨灴潣敲㴽⸱⸰ഹ栊瑴汰扩㴲〽㌮⸱ല栊瑴硰㴽⸰㠲ㄮ਍摩慮㴽⸳ㄱ਍楋祶㴽⸲⸳റ權癩⵹敤獰愮杮敬㴽⸰⸴ര權癩⵹敤獰朮敬㵷〽㌮ㄮ਍楋祶䜭牡敤㵮〽ㄮ㔮਍楫祶摟灥⹳摳㉬㴽⸰⸸ര權癩浹㵤ㄽ㈮〮਍畮灭㵹㈽㐮㐮਍灯湥癣瀭瑹潨⵮敨摡敬獳㴽⸴㌱〮㤮ല瀊獡汳扩㴽⸱⸷ഴ瀊汩潬㵷ㄽ⸲⸲ര瀊潲潴瀭畬㵳ㄽ㈮⸷ല瀊潲潴畢㵦㔽㈮⸹ശ瀊慹湳㴱〽㘮㌮਍祰獡ㅮ浟摯汵獥㴽⸰⸴ല瀊捹慰獲牥㴽⸳ര瀊摹湡楴㵣㈽ㄮ⸳ള瀊摹湡楴彣潣敲㴽⸲㘴㌮਍祐浧湥獴㴽⸲〲〮਍祰慰獲湩㵧㌽㌮㈮਍祰楰楷㍮㴲㈽㌲਍祰桴湯搭瑯湥㵶ㄽ㈮㈮਍祰桴湯樭獯㵥㌽㔮〮਍祰桴湯洭汵楴慰瑲㴽⸰⸰㈲਍祰楷㍮㴲㌽ㄱ਍敲畱獥獴㴽⸲㌳ㄮ਍獲㵡㐽㤮ㄮ਍楳㵸ㄽㄮ⸷ര猊楮晦潩㴽⸱⸳റ匊䱑汁档浥㵹㈽〮㐮സ猊慴汲瑥整㴽⸱⸰ര琊湥捡瑩㵹㤽ㄮ㐮਍煴浤㴽⸴㜶㌮਍祴楰杮椭獮数瑣潩㵮〽㐮㈮਍祴楰杮敟瑸湥楳湯㵳㐽ㄮ⸵ര甊楲整灭慬整㴽⸴⸲ര甊汲楬㍢㴽⸲⸶ള甊楶潣湲㴽⸰㈴〮਍敷獢捯敫獴㴽㘱〮਍